.encuesta{
    display: flex;
    margin-top: 80px;
    flex-flow: column;
    align-items: center;
    .header{
        display: flex;
        width: 600px;
        .titulo{
            margin-left: 200px;
        }
    }
    .grafico{
        width: 600px;
        margin-top: 40px;
    }
    .form{
        width: 600px;
        margin-top: 60px;
    }
}

p{
    margin-top: 10px;
}

img{
    width: 40px;
}